{% extends 'base.html' %} {% block title%} Vote Completed {% endblock %} {% block content %}



<!--Mobile-->
<div class="container-fluid">

    <div class="row text-center mt-5">
        <div class="col">
            <img class="mt-4 mob-img" src="{{baseUrl}}/logo.png" alt="Oriwu Senior Model College " width="100" height="100">
            <h4 class="mb-3 font-weight-normal mob-text text-center text-white">ORIWU SET 18/19 ADMIN ELECTION</h4>


            <div class="row">
                <div class="logg mx-auto col ">
                    <div class="col mt-3 mb-2">
                        <h5>Your Vote has been submitted😊</h5>
                        <p>Follow the Developer</p>
                        <span class="p-auto"><a href="https://www.facebook.com/olusola.precious.1/" target="_blank"><img src="{{baseUrl}}/facebook.png" alt="Facebook" width="30" height="30"></a>  .  <a href="https://www.instagram.com/olusola_pecious_/" target="_blank"><img src="{{baseUrl}}/instagram.png" alt="Instagram" width="30" height="30"></a>  .  <a href="https://twitter.com/itsprecii" target="_blank"><img src="{{baseUrl}}/twitter.png" alt="Twitter" width="30" height="30"></a>  .  <a href="https://api.whatsapp.com/send?phone=2348122137834" target="_blank"><img src="{{baseUrl}}/whatsapp.png" alt="Whatsapp" width="30" height="30"></a></span>
                    </div>
                </div>


            </div>

        </div>

    </div>
    <!-- End for mobile -->

</div>
{% endblock %}